@import '~@angular/material/theming';

$d4Primary: (
    50 : #e6e6e6,
    100 : #c1c1c1,
    200 : #989898,
    300 : #6e6e6e,
    400 : #4f4f4f,
    500 : #303030,
    600 : #2b2b2b,
    700 : #242424,
    800 : #1e1e1e,
    900 : #131313,
    A100 : #ef6c6c,
    A200 : #ea3e3e,
    A400 : #f50000,
    A700 : #db0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$d4Accent: (
    50 : #e4ecf6,
    100 : #bbcee7,
    200 : #8eaed8,
    300 : #608ec8,
    400 : #3e75bc,
    500 : #1c5db0,
    600 : #1955a9,
    700 : #144ba0,
    800 : #114197,
    900 : #093087,
    A100 : #b6c8ff,
    A200 : #83a2ff,
    A400 : #507cff,
    A700 : #3669ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$d4Warn: (
    50 : #f6e2e7,
    100 : #e9b6c2,
    200 : #da869a,
    300 : #cb5671,
    400 : #bf3152,
    500 : #b40d34,
    600 : #ad0b2f,
    700 : #a40927,
    800 : #9c0721,
    900 : #8c0315,
    A100 : #ffb8be,
    A200 : #ff858f,
    A400 : #ff5260,
    A700 : #ff3949,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

@mixin d4-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    // Tweaks
    mat-toolbar {
        @include mat-elevation(2);
    }

    .card-header {
        background-color: mat-color($primary);
    }
}

@include mat-core();

$d4-primary: mat-palette($d4Primary, 500, 200, 800);
$d4-accent: mat-palette($d4Accent, 500, 200, 800);
$d4-warn: mat-palette($d4Warn);

$d4-light-theme: mat-light-theme($d4-primary, $d4-accent, $d4-warn);

@include angular-material-theme($d4-light-theme);
@include d4-theme($d4-light-theme);
