.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: grey;

    mat-toolbar {
        height: 42px;

        .title {
            font-weight: 300;
            font-size: 18px;
        }

        mat-icon{
            font-size: 18px;
        }

        .fill-remaining-space {
            /* This fills the remaining space, by using flexbox.
               Every toolbar row uses a flexbox row layout. */
            flex: 1 1 auto;
        }
    }

    .content {
        display: flex;
        justify-content: space-around;
        padding: 8px;
        height: calc(100% - 58px);
        width: calc(100% - 16px);

        mat-card {
            margin: 8px;
        }

        .card-header {
            height: 18px;
            width: 100%;
            border-radius: 3px 3px 0 0;
            display: flex;
            justify-content: center;

            span {
                color: white;
                font-size: 12px;
                font-weight: 300;
            }
        }


        .scorecard-button {
            width: 100%;
            height: calc(100% - 18px);
            cursor: pointer;
            text-align: center;
            user-select: none;
            -webkit-user-drag: none;
            -webkit-tap-highlight-color: transparent;

            &.selected {
                background-color: #eee;
            }
        }

        .number {
            margin-top: 8px;
            font-size: x-large;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .left-side {
            display: flex;
            flex-direction: column;
            width: calc(100% - 12px);
            height: 100%;

            .scorecard-container {
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: row;

                .scorecard {
                    width: 25%;
                    padding: 0;
                }
            }

            .charts {
                width: 100%;
                height: 80%;

                .top-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 50%;
                    width: 100%;

                    .composite {
                        padding: 0;
                        width: 100%;
                    }
                }

                .bottom-row {
                    display: flex;
                    flex-direction: row;
                    height: 50%;
                    width: 100%;

                    .heatmap {
                        padding: 0;
                        width: calc(70% - 12px);

                        .chart {
                            width: calc(100% - 32px);
                            margin: 16px;
                            height: calc(80% - 50px);
                        }

                        .legend {
                            width: calc(100% - 32px);
                            height: calc(20% - 8px);
                            pointer-events: none;
                            margin: 16px;
                        }
                    }

                    .pie {
                        padding: 0;
                        width: calc(30% - 12px);
                    }
                }

                .chart-ref {
                    height: calc(100% - 34px);
                    width: calc(100% - 16px);
                    margin: 8px;
                }
            }
        }

        .list-container {
            width: calc(20% - 32px);
            height: calc(100% - 16px);
            padding: 0;
            overflow: auto;
        }

        ::-webkit-scrollbar {
            display: none;
         }

         .list-container::-webkit-scrollbar {
            display: none;
         }
    }
}

mat-list-option {
  ::ng-deep {
    div.mat-list-item-content {
      .mat-list-text {
        display: flex;
        flex-direction: row;
        text-align: center;

        mat-icon {
          transition: width 2s, height 2s, transform 2s;
          font-size: 24px;
        }
      }
    }
  }
}
