<div class="container">
    <mat-toolbar color="primary">
        <span class="title">D4 Hackathon</span>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button (click)="reset()">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="export()">
            <mat-icon>get_app</mat-icon>
        </button>
    </mat-toolbar>
    <div class="content">
        <div class="left-side">
            <div class="scorecard-container">
                <mat-card class="scorecard">
                    <div class="card-header">
                        <span>Open</span>
                    </div>
                    <div #scoreCardOpen (click)="clickStatus($event, 'open')" class="scorecard-button" matRipple [matRippleCentered]="centered">
                        <div class="number">{{ total.open | number }}</div>
                    </div>
                </mat-card>
                <mat-card class="scorecard">
                    <div class="card-header">
                        <span>Escalated</span>
                    </div>
                    <div #scoreCardEscalated (click)="clickStatus($event, 'escalated')" class="scorecard-button" matRipple [matRippleCentered]="centered">
                        <div class="number">{{ total.escalated | number }}</div>
                    </div>
                </mat-card>
                <mat-card class="scorecard">
                    <div class="card-header">
                        <span>Reviewed</span>
                    </div>
                    <div #scoreCardReviewed (click)="clickStatus($event, 'reviewed')" class="scorecard-button" matRipple [matRippleCentered]="centered">
                        <div class="number">{{ total.reviewed | number }}</div>
                    </div>
                </mat-card>
                <mat-card class="scorecard">
                    <div class="card-header">
                        <span>Closed</span>
                    </div>
                    <div #scoreCardClosed (click)="clickStatus($event, 'closed')" class="scorecard-button" matRipple [matRippleCentered]="centered">
                        <div class="number">{{ total.closed | number }}</div>
                    </div>
                </mat-card>
            </div>
            <div class="charts">
                <div class="top-row">
                    <mat-card class='composite'>
                        <div class="card-header">
                            <span>User Actions Timeline
                            </span>
                        </div>
                        <div class="chart-ref" #compositeChart>
                        </div>
                    </mat-card>
                </div>
                <div class="bottom-row">
                    <mat-card class='heatmap'>
                        <div class="card-header">
                            <span>User Activity Heatmap</span>
                        </div>
                        <div class="chart" #heatmapChart></div>
                        <div class="legend" #heatmapLegend></div>
                    </mat-card>
                    <mat-card class='pie'>
                        <div class="card-header">
                            <span>Status Type</span>
                        </div>
                        <div class="chart-ref" #pieChart>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <mat-card class="list-container">
            <div class="card-header">
                <span>Users</span>
            </div>
            <mat-selection-list #list (selectionChange)="selectionChange($event, true)">
                <mat-list-option *ngFor="let assignee of assignees" [value]='assignee'>
                  <mat-icon matPrefix [style.color]="userColorMap[assignee] ? userColorMap[assignee] : '#ffffff'">brightness_1</mat-icon>&nbsp;{{assignee}}
                </mat-list-option>
            </mat-selection-list>
        </mat-card>
    </div>
</div>
